body {
  background-color: lightyellow;
}

h1 {
  color: blue;
  text-align: center;
}
ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: blue; 
}
